/* Variables CSS */
:root {
  /* Couleurs principales */
  --primary-color: #024d98;
  --secondary-color: #333333;
  --text-color: #d0d0d0;
  --background-color: #000000;
  --highlight-color: #D2B584;

  /* Typographie */
  --font-family: 'Montserrat', sans-serif;
}
