/* ==========================================================================
   Services Section
   ========================================================================== */

.services {
  padding: 20vh 0 10vh 0;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.services h2, .services h4 {
  font-size: 2.8em;
  margin-bottom: 0.8em;
  color: var(--text-color);
  text-align: center;
  filter: drop-shadow(0 0 0.2rem var(--primary-color));
}

.service {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 90%;
  margin: 20px auto;
  padding: 20px 0 20px 20px;
  background: rgba(51, 51, 51, 0.8);
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
}


.service:hover {
  transform: scale(1.02);
}

.service-image {
  flex: 1;
  padding-right: 20px;
  display: flex;
  justify-content: center;
}

.service-image img {
  width: 95%;
  object-fit: cover;
  border-radius: 12px;
}

.service-content {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 20px;
}

.service h3 {
  font-size: 2.4em;
  margin-bottom: 20px;
}

.service h3 strong {
  color: var(--highlight-color);
}

.service p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 1.2em;
  margin-right: 1em;
  text-align: justify;
  word-wrap: break-word;
}

.service .ul-div {
  display: flex;
  width: 100%;
  max-width: 900px;
}

.service-content ul {
  width: 100%;
  list-style-type: none;
  padding-bottom: 15px;
}

.service li {
  border: #7e7e7e solid 2px;
  border-radius: 10px;
  margin: 0 1em;
  padding: .5em;
  text-align: center;
}

.service .btn-primary {
  padding: 12px 25px;
  font-size: 1.2em;
  border-radius: 8px;
  background-color: var(--primary-color);
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  align-self: center;
}

.service .btn-primary:hover {
  background-color: var(--highlight-color);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}
